<!-- <table class="table table-bordererd">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.status ? "Còn hàng" : "hết hàng" }}</td>
        <td>
          <button class="btn btn-danger" (click)="onHandleRemove(product.id!)">
            Delete
          </button>
          <button class="btn btn-primary ms-1" routerLink="/product/edit/{{ product.id }}">
            Edit
        </button>
        <button class="btn btn-primary ms-1" routerLink="/product/{{ product.id }}">
          chi tiết
      </button>
        </td>
      </tr>
    </tbody>
  </table> -->
  <nz-table #basicTable>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.status ? "Còn hàng" : "hết hàng" }}</td>
        <td>
          <td>
            <button class="btn btn-danger" (click)="onHandleRemove(product.id!)">
              Delete
            </button>
            <button class="btn btn-primary ms-1" routerLink="/product/edit/{{ product.id }}">
              Edit
          </button>
          <button class="btn btn-primary ms-1" routerLink="/product/{{ product.id }}">
            chi tiết
        </button>
          </td>
      </tr>
    </tbody>
  </nz-table>
  